/* hosted_console's site-specific css /*
/*
/* Author: Dustin Fast, 2018
*/

body {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0px;
    margin-left: 0px;
}

.main-panel {
  padding: 15px !important;
  margin-bottom: 15px !important;
}

.console {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    background: #111111;
    color: #ffffff;
    cursor: text;
}

.terminal-outter {
    display: block;
    height: 450px;
    width: 100%;
    border: 1px solid #656666;
}

.terminal {
    display: table-cell;
    height: 449px;
    width: 98%;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 1px !important;
    border-bottom: 1px solid #656666;
    vertical-align: bottom;
}

.prompt-box {
    border-width: 0px;
    display: inline-block;
    height: 30px;
    width: 95%;
    outline: none;
}

.prompt {
    display: inline-block;
    height: 30px;
}
