{% extends "layout.html" %}
{% block content %}

<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script> -->


<!-- body -->

{{home_text}}
<form class="prompt-form" action="destination.html">
	$ <input class="prompt-box" type="text" value="">
</form>

<script>
	// Get user input from prompt
	$(".prompt-form").submit(function (event) {
			console.log('Got user :' + $(".prompt-box").val())

			// Pass user's input to process level

			// Get Response up

			// Update web display with new terminal contents

			event.preventDefault();  // prevent postback
	});

</script>

<!-- end body -->



{% endblock %}