{% extends "layout.html" %}
{% block content %}

<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script> -->


<!-- body -->

{{home_text}}
<form class="prompt-form" action="destination.html">
	$ <input class="prompt-box" type="text" value="">
</form>

<script>
	// Get user input from prompt
	$(".prompt-form").submit(function (event) {
		console.log('Got user :' + $(".prompt-box").val())

		// Pass user's input to process level
		$.ajax({
			url: $SCRIPT_ROOT + '/_process_user_input',
			type: 'POST',
			contentType: 'application/json;charset=UTF-8',
			data: JSON.stringify({ 'user_input': $(".prompt-box").val() }),
			timeout: 1000,

			// On no response from server
			error: function (jqXHR, textStatus, errorThrown) {
				console.warn('Error contacting server for content refresh.');
			},

			// On response from server
			success: function (data) {
				if (data == 'ERROR') {
					console.error('Server-side error.')
					return;
				}

				console.log("Got response from server: " + data.term_response);
			}
		});


		// Update web display with new terminal contents

		event.preventDefault();  // prevent postback
	});

</script>

<!-- end body -->



{% endblock %}